/*css footer*/
.footer{
    background-color: #fff;
    text-align: left;
    position: relative;
    width: 100%;
    overflow: visible;
    z-index: 1;
}
.footer:after{
    width: 100%;
    content: "";
    display: block;
    height: 100%;
    position: absolute;
    bottom: 10%;
    -webkit-transform: skewY(-3deg);
    -moz-transform: skewY(-3deg);
    -ms-transform: skewY(-3deg);
    -o-transform: skewY(-3deg);
    transform: skewY(-3deg);
    background-color: #3FD0C9;
    z-index: 2;
}
.footer .content{
    position: relative;
    z-index: 3;
}
.footer .footer_top{
    background-color: #3fd0c9;
    padding-top: 0;
    padding-bottom: 0;
}
.footer .footer_top p{
    font-size: 20px;
    line-height: 27px;
    font-family: Nunito-Bold,sans-serif;
    color: #041E4F;
}
.footer .footer_top .footer_info a,
.footer .footer_top .footer_info span{
    display: block;
    font-size: 15px;
    color: #041E4F;
    font-family: Nunito-Regular, sans-serif;
    margin-bottom: 10px;
}
.footer .footer_top .footer_info b.font-other{
    font-family: Nunito-SemiBold, sans-serif;
}
.footer .footer_top .footer_info.link a{
    display: inline-block;
}
.footer .footer_top .footer_info.link a:first-child{
    padding: 5px 12px;
    margin-left: 0;
}
.footer .footer_top .footer_info.link a{
    color: #3FD0C9;
    background-color: #fff;
    padding: 5px 10px;
    border-radius: 300px;
    margin-bottom: 10px;
    transition: 0.4s;
    margin-left: 16%;
}
.footer .footer_top .footer_info.link a:nth-child(1):hover{
    background-color: #005cbf;
    color: white;
}
.footer .footer_top .footer_info.link a:nth-child(2):hover{
    background: #f09433;
    background: -moz-linear-gradient(45deg, #f09433 0%, #e6683c 25%, #dc2743 50%, #cc2366 75%, #bc1888 100%);
    background: -webkit-linear-gradient(45deg, #f09433 0%,#e6683c 25%,#dc2743 50%,#cc2366 75%,#bc1888 100%);
    background: linear-gradient(45deg, #f09433 0%,#e6683c 25%,#dc2743 50%,#cc2366 75%,#bc1888 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f09433', endColorstr='#bc1888',GradientType=1 );
    color: white;
}
.footer .footer_top .footer_info.link a:nth-child(3):hover{
    background-color: #0274b3;
    color: white;
}
.footer_top a.sub {
    font-size: 10px;
    font-family: Nunito-Light, sans-serif;
    background-color: #041E4F;
    color: #fff;
    padding: 12px 2px 12px 20px;
    border-radius: 5px;
}
.footer_top a.sub i {
    background-color: white;
    color: #041E4F;
    padding: 4px 15px 12px 15px;
    margin-left: 30px;
    border-radius: 5px;
    font-size: 18px;
    font-weight: bold;
}
.footer .footer_bottom{
    height: 70px;
}
.footer .footer_bottom p{
    line-height: 70px;
    font-size: 15px;
    font-family: Nunito-Regular, sans-serif;
    margin-bottom: 0;
}
.footer .footer_bottom h1#logo-f{
    line-height: 70px;
    text-align: right;
    margin-bottom: 0;
}
.footer .footer_bottom img.logo-footer{
    width: 102px;
    height: 48px;
    margin-top: 38%;
}
.footer_bottom_list_item{
    display: flex;
    justify-content: space-between;
}
.footer_bottom_list_item h1#logo-f{
    order: 1;
}
/*css backtotop*/
.backtotop.show-backtotop1 {
    opacity: 1;
    bottom: 8px;
    visibility: visible;
}
.backtotop.show-backtotop2 {
    opacity: 1;
}
.backtotop.show-backtotop3 {
    opacity: 1;
}
.backtotop.show-backtotop4 {
    opacity: 1;
}
.backtotop.show-backtotop {
    opacity: 1;
}
.backtotop {
    width: 40px;
    height: 43px;
    border-radius: 5px 5px 0 0;
    color: white;
    background: #041E4F;
    text-align: center;
    font-size: 16px;
    line-height: 42px;
    position: fixed;
    right: 10px;
    z-index: 2;
    opacity: 0;
    visibility: hidden;
    transition: all 0.3s;
    cursor: pointer;
}
.backtotop a i.fa{
    text-decoration: none;
    color: #fff;
}
.backtotop:hover {
    opacity: 0.8;
}
